@page {
  margin-top: 1.7in;
  size: A4;
}

.header__key_after::after {
  content: ":-";
  padding-left: 20px;
}

.header__key_before::before {
  content: ":-";
  padding-right: 20px;
}

.quill p {
  font-size: 14px;
  font-weight: bold;
}

.quill h1 {
  font-size: 17px;
}

.quill h2 {
  font-size: 16px;
}
.quill h3 {
  font-size: 15px;
}
.quill h4 {
  font-size: 12px;
}
